.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 300px;
      width: 215px;
      display: flex;
      flex-direction: column;
      overflow: scroll;

      /* Hide scrollbar for webkit browsers */
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      
      /* Hide scrollbar for non-webkit browsers */
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  
    button {
      margin-top: auto;
    }
  }